@font-face {
font-family: 'Raleway Regular';
font-style: normal;
font-weight: normal;
src: local('Raleway Regular'), url('fonts/Raleway-Regular.woff') format('woff');
}
/* La Police Rawelay
*/
}

html {
background-size: cover;
background-color: #F2F2F2;
}
main {
display: flex;
justify-content: center;
align-items: center;
background-color: palevioletred;
}
body {
color: #000;
margin: auto;

}

.nav-bar {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-end;
list-style: none;
font-size: 84%;
}

#logo {
display: flex;
position: fixed;
left: 15px;
top: 0px;
width: 70px;
height: 30px;
}
/*
modification de taille et du placement du logos
*/

.hebergements {
font-weight: bold;
opacity: 0.7;
color:rgb(0, 4, 231);
text-decoration: overline;
list-style: none;

}

.activites {
font-weight: bold;
color:rgb(134, 129, 122);
list-style: none;
}

button {
font-weight: bold;
color:blue;  
}

h1 {
font-size: 120%; 
font-weight: bold;
color: black;
}

p {
font-weight: bold;
opacity: 0.4;
font-size: 86%;    
}

.filtres-section {
display: flex;
background-color: black;
    
}

.heb-article {
width: 150px;
height: 150px;

}

.la_plus_populaires {
order: 5;   
flex-direction: column;
justify-content: center;  
}

{

}

footer {
background-color: orange;
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: flex-end;
list-style: none;
  
}
/*
les images*/
.Hebergements-image {
width: 100px; 
height: 100px;   
}

.Populaire-image {
width: 100px;   
height: 100px; 
}
.Activiter-image {
width: 100px;
height: 100px;
}