@font-face {
  font-family: 'Raleway Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Regular'), url('fonts/Raleway-Regular.woff') format('woff');
  }
  /* La Police Rawelay
  */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway Regular', sans-serif;
  }
  
  h1, 
  h2, 
  h3 {
    margin: 10px;
  }
  
  html {
    background-size: cover;
    background-color: white;
  }

  body {
      font-family: 'Raleway Regular', sans-serif
  }
  
  /* logo */
  
  .logo {
    position: static;
    width: 90px;
    height: 60px;
    margin-left: 25px;
    object-fit: contain;
  }
  
  /* logo */
  
  /* navbar */
  
  .nav-bar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  
  .nav-bar-menu {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
  }
  
  .nav-bar .link-navbar {
    display: flex;
    justify-content: center;
    width: 150px;
    text-decoration: none;
    margin: 20px 0 20px 0;
    font-size: 18px;
    font-family: 'Raleway Regular', sans-serif;
  }
  
  .link-navbar a {
    text-decoration: none;
    color:black
  }
  
  .signup-navbar a {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
  }
  
  
  .hebergements-navbar {
    opacity: 0.7;
    color:rgb(0, 4, 231);
    text-decoration: overline;
    list-style: none;  
  }
      
  .activites-navbar {
    font-family: 'Raleway Regular', sans-serif;
    color:rgb(134, 129, 122);
    list-style: none;
    text-decoration: none;
  }
      
  .signup-navbar {
    font-family: 'Raleway Regular', sans-serif;  
    font-weight: bold;
    color:#0065FC;
    text-decoration: none; 
    padding: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
  }
      
  /* NAV-BAR */
  
  /* RECHERCHE */
  
  
  .header-recherche,
  p {
    margin-left: 15px;
  }
  
  .icone-info-ville {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 14px 14px 14px 18px;
  }
  
  .search {
    font: bold;
    border-right: none;
    border-left: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 1.1rem;
  }
  
  h1 {
    font-family: 'Raleway Regular', sans-serif; 
    font-size: 145%; 
    font-weight: bold;
    color: black;
    margin: 10px;
  }
  
  .search-form-button {
    width: 120px;
    background-color:#0065FC;
    color: white;
    border: unset;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 17px 17px 0;
  }
  
  .fa-search {
    display:none;
  }
  
  .search-form {
    display: flex;
    margin: 25px 15px 25px 15px;
  }
  /* RECHERCHE */
  
  /* INFO */
   
  .info-icone-container p  {
    font-family: 'Raleway Regular', sans-serif;
    color: black;
    font-size: 100%;  
    margin: 0 15px 0 15px;
    align-self: center;
  }
  
  .sous-titre {
    margin: 20px;
  }
  
  .info-icone-container {
    display: flex;
    margin: 50px 0 30px 30px;  
  }
  /* lOGO INFO */ 
  
  .info-icone { 
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(197, 187, 187);
    border-radius: 15px;
  }
  
  .fa-info {
    color:#0065FC;
    font-size: 15px;  
  }
  /* LOGO INFO */
  
  /* INFO */
  
  /* FILTRE */
  
  .filtres-section {
    display: flex;
    flex-wrap: wrap; 
    color: black;
    margin: 55px 0 20px 0;
  }
  
  .liste-filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    font-size: 20px;
    margin: 10px;
    height: 44px;
    transition: 1s;
  }
  
  .filtres-section h2 {
    align-self: center;
    margin-left: 30px;
  }
  
  .filtres-section,
  .liste-filtres, 
  .filtres-icone {
    display: flex;
  }
  
  .liste-filtres,
  .filtres-icone {
    align-content: center;
  }
  
  .container-filtres {
    display: flex;
    margin-left: 20px;
  } 
  
  
  .filtres-icone {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 44px;
    width: 44px;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
    align-items: center;
  }
  
  .eco {
    display: flex;
    background-color: white;
    border: none;
    margin: 0 15px;
    font: bold;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Raleway Regular', sans-serif;
    margin: 0 15px 0 15px;
  }
  
  .family {
    display: flex;
    background-color: white;
    border: none;
    margin: 0 15px;
    font: bold;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Raleway Regular', sans-serif;
    margin: 0 15px 0 15px;
  }
  
  .romantic {
    display: flex;
    background-color: white;
    border: none;
    margin: 0 15px;
    font: bold;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Raleway Regular', sans-serif;
    margin: 0 15px 0 15px;
  }
  
  .animals {
    display: flex;
    background-color: white;
    border: none;
    margin: 0 15px;
    font: bold;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Raleway Regular', sans-serif;
  }
  
  /* FILTRE */
  
  /* MAIN */
  
  .container {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .afficher-plus {
    font-size: 1.1rem;
    font-weight:bold;
    text-decoration: none;
    color: black;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  .activites {
    display: block;
    flex-wrap: nowrap;
  }
  
  .header-activites {
    margin: 60px 0 5px 20px;
    font-weight: 700;
  }
  
  .section-activites {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    margin-left: 5px;
  }
  
  .activites-figure-big-photo {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .activites-cards-medium-groupe {
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px 20px 20px;
    list-style: none;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  .activite-description {
    margin: 12px 10px 12px 20px;
    font-family: 'Raleway Regular', sans-serif;
    font: bold;
    font-weight: bolder;
    font-size: 18px;
  }
  
  .activites-figure-medium-photo-1 {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);  
  }
  
  .activites-figure-medium-photo-2 {
    margin: 55px 0 0 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);  
  }
  
  .activites-figure-medium-photo-3 {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);  
  }
  
  .activites-figure-medium-photo-4 {
    margin: 55px 0 0 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);  
  }
  
  /* hebergements */
  
  .hebergements {
    display: flex;
    flex-direction:column;
    flex: 3;
    border-radius: 10px;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    margin: 0px 30px;
    padding: 0px 30px;
  }
  
  .section-hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 0 15px 0 10px;
  }
  
  .hebergements-figure {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: auto;
    border: 5px solid white;
    border-radius: 30px;
    margin: 15px 20px 5px 10px;
    background-color: white;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  .hebergements-header {
    margin: 25px 0 15px -5px;
  }
  
  .hebergements-description p {
    margin: 10px
  }
  
  /* hebergements */
  
  
  /* la plus populaires */
  
  .la_plus_populaires {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 10px;
    border-color: #F2F2F2;
    background-color:#F2F2F2;
    padding: 20px 30px;
    margin: 0px 30px 0px 0px;
  }
  
  .populaire-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  
  .populaire-figure {
    display: flex;
    width: 351px;
    height: 150px;
    border: 5px solid white;
    border-radius: 25px;
    margin: 20px 0px 10px 0px;
    background-color: white;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  .populaire-description {
      margin: 5px 0 0 5px;
  }
  
  .populaire-description p {
    margin-left: 10px;
  }
  
  /* logo la plus populaire */
  
  .fa-chart-line {
    font-size: 23px;
    margin: 3px 25px 0 15px;
  }
  
  /* logo la plus populaire */
  
  /* la plus populaires */
  
  /* Main */
  
  /* IMAGE */
  
  .Hebergements-image {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;  
    width: auto;
    height: 126px;
    object-fit: cover;
  }
  
  .Populaire-image {
    display: flex;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 124px;   
    object-fit: cover; 
  }
  
  .Activiter-imageA {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 307px;
    height: 399px;
    object-fit: cover;
  }
  
  .Activiter-imageB {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 300px;
    height: 182px;
    object-fit: cover;
  }
  
  .Activiter-imageC {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 302px;
    height: 109px;
    object-fit: cover;
  }
  
  .Activiter-imageE { 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 303px;
    height: 152px;
    object-fit: cover;
  }
  
  .Activiter-imageD {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 302px;
    height: 140px;
    object-fit: cover;
  }
  
  /* IMAGES */
  
  /* ICONES STAR */
  
  .stars {
    margin: 10px;
  }
  
  .star-icone[data-active="true"] {
    color: #0065FC;
  }
  
  .star-icone[data-active="false"] {
    color: #ebe9e9;
  }
  
  /* ICONE STAR */
  
   /* FOOTER */
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 170px;
    border: #F2F2F2 outset;
    background-color: #F2F2F2;
    font-family: 'Raleway Regular', sans-serif;
    padding: 0 0 0 25px;
    border: none;
  }
  
  .footer-left h3 {
    font-size: 17px;
    margin: 20px 10px 15px 0;
  }
  
  .footer-central h3 {
    font-size: 17px;
    margin: 20px 10px 15px 0;
  }
  
  .footer-right h3 {
    font-size: 17px;
    margin: 20px 10px 15px 0;
  }
  
  .footer-left li {
    display: flex;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    line-height: 23px;
  }
  
  .footer-left {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .footer-central {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .footer-right {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .footer-central li {
    display: flex;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    line-height: 23px;
  }
  
  .footer-right li {
    display: flex;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    line-height: 23px;
  }
  
  
  /*-----------------------Code pour format de HOVER-----------------*/
  
  /* HOVER navbar */ 
  
  .link-navbar:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
    padding-top: 1.5rem;
    margin: 0;
  }
  
  .link-navbar a:hover {
    text-decoration: none;
  
  }
  
  .signup-navbar:hover {
    border: 5px solid #ebedf1; 
    border-radius: 2rem;
    background-color: #ebedf1;
    transition: 0.3s;
    padding: 10px;
  }
  
  /* HOVER navbar */
  
  /* HOVER recherche */
  
  .search-form-button:hover {
    transform: scale(1.2);
    color: black;
  }
  
  /* HOVER recherche */
  
  /* HOVER stars */
  
  .star-icone:hover {
    color: #ebe9e9;
  }
  
  /* HOVER stars */
  
  /* HOVER populaire */
  
  .populaire-figure:hover {
    transform: scale(1.05);
    opacity: .6;
  }
  
  /* HOVER populaire */
  
  /* HOVER Hebergements */
  
  .hebergements-figure:hover {
    transform: scale(1.05);
    opacity: .6;  
  }
  
  
  /* HOVER Hebergements */
  
  
  /* HOVER activites image */
  
  .activites-figure-medium-photo-1:hover {
    transform: scale(1.1);
    opacity: .6;
    color:#0065FC;
  }
  
  .activites-figure-medium-photo-2:hover {
    transform: scale(1.1);
    opacity: .6;
    color:#0065FC;
  }
  
  .activites-figure-medium-photo-3:hover {
    transform: scale(1.1);
    opacity: .6; 
    color:#0065FC;
  }
  
  .activites-figure-medium-photo-4:hover {
    transform: scale(1.1);
    opacity: .6;
    color:#0065FC;
  }
  
  .activites-figure-big-photo:hover {
    transform: scale(1.05);
    opacity: .6;
    color:#0065FC;
  }
  
  /* HOVER activites image */
  
  /* HOVER section filtres */
  
  .liste-filtres i:hover {
    color: black;
  }
  
  button:hover {
    transform: scale(1.2);
    color:#0065FC;
  }
  
  /* HOVER section filtres */
  
  /* HOVER footer */
  
  .liste-footer-left li:hover {
    text-decoration: underline;
    color:#0065FC;
    transition: 0.1s;
  }
  
  .liste-footer-central li:hover {
    text-decoration: underline;
    color:#0065FC;
    transition: 0.1s;
  }
  
  .liste-footer-right li:hover {
    text-decoration: underline;
    color:#0065FC;
    transition: 0.1s;
  }
  
  /* HOVER  footer */
  
  /*-----------------------Code pour format de HOVER FIN-----------------*/
  
  /*-----------------------Code pour format de smartphone-----------------*/
  @media screen and (max-width: 375px) {
   
body {
  font-family: 'Raleway Regular', sans-serif;
}  

/* HOVER navbar */ 
  
.link-navbar:hover {
  border: none;
  }
  
  .link-navbar a:hover {
    color: #0065FC;
    border-bottom-color: #0065FC;
  }
  
  .signup-navbar:hover {
    transition: 0.3s;
  }
  
  /* HOVER navbar */
  
  .nav-bar {
    display: flex;
  }
  
  .logo {
    position: absolute;
    width: 90px;
    height: 60px;
    margin-left: 25px;
    object-fit: contain;
  }
  
  .nav-bar-menu {
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin-top: 75px;
    padding: 0;
    width: 100%;
    height: 50px;
  }
  
  .link-navbar a {
    display: flex;
    flex: 1;
    justify-content: center;
    border-bottom: 2px solid #F2F2F2;
    width: 100%;
    padding-bottom: 20px;
  }
  
  .nav-bar .link-navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway Regular', sans-serif;
    padding-top: 10px;
  }
  
  .signup-navbar a {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    position: absolute;
    top: 25px;
    right: 15px;
  }
  
  .signup-navbar {
    font-family: 'Raleway Regular', sans-serif;  
    font-weight: bold;
    color:#0065FC;
    text-decoration: none; 
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }
  .header-recherche, p {
    margin-left: 14px;
    font-size: 17px;
  }
  
  .icone-info-ville {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 20px 20px 20px 20px;
  }
  
  .search {
    font-weight: 900;
    border-right: none;
    border-left: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 1.2rem;
  }
  
  span {
    display: none;
  }
  
  .fa-search {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 900;
    color: white;
    font-size: 17px;
  }
  
  .search-form-button {
    width: 55px;
    background-color:#0065FC;
    color: white;
    border: unset;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 17px 17px 0;
  }
  
  .filtres-section h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .filtres-section {
    display: flex;
    margin: 0 0 20px 0;
  }
  
  .liste-filtres {
    
    margin-right: 25px;
    align-items: center;
  }
  
  .container-filtres {
    margin-left: 20px;
    line-height: 1.6;
    display: inline;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .la_plus_populaires {
    display: flex;
    flex-direction: column;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    align-content: center;
  }
  
  .populaire-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;  
    margin-left: 10px;
  }
  
  .populaire-figure {
    display: flex;
    width: 91%;
    height: 100%;
    border: 5px solid white;
    border-radius: 25px;
    margin: 15px 15px 15px 25px;
    background-color: white;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  } 

  .Populaire-image {
    display: flex;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    width: 40%;
    height: auto;
  }
  .populaire-description {
    margin: 5px 0 0 5px;
    height: 100%;
    width: 100%;
  }
  .hebergements {
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }

  .hebergements-figure {
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 244px;
    border: 5px solid white;
    border-radius: 25px;
    margin: 0px 0px 30px 15px;
  }

  .hebergements-header {
    margin: 10px 0 15px 10px;
  }

  .Hebergements-image {
    width: 100%;
    height: 126px;
    object-fit: cover;
  }

  .afficher-plus {
    margin: 5px 15px 20px 15px;
  }

  .header-activites {
    margin: 20px 0px 5px 15px;
  }
  
  .section-activites {
    display: flex;
    flex-direction: column;
  }

  .Activiter-imageA {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

  .Activiter-imageB {
    width: 100%;
    object-fit: cover;
    height: 80%;
  }

  .Activiter-imageC {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .Activiter-imageD {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .Activiter-imageE {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .activites-figure-big-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 262px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    margin: 20px 0px 20px 5px;
  }

  .activites-cards-medium-groupe {
    width: 100%;
    height: 100%;
    margin: 0;
}
  
  .activites-figure-medium-photo-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    margin-right: 10px;
  }

  .activites-figure-medium-photo-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    margin-top: 20px;
    margin-right: 10px;
  }

  .activites-figure-medium-photo-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    margin-right: 10px;
  }

  .activites-figure-medium-photo-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    margin: 20px 10px 15px 0;
    background-color: white;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: #F2F2F2 outset;
    background-color: #F2F2F2;
    font-family: 'Raleway Regular', sans-serif;
    padding-left: 25px;
    padding-bottom: 20px;
    border: none;
  }
  .footer-left h3 {
    font-size: 17px;
    margin: 20px 10px 15px 0;
  }
  
  .footer-central h3 {
    font-size: 17px;
    margin: 20px 10px 15px 0;
  }
  
  .footer-right h3 {
    font-size: 17px;
    margin: 20px 10px 15px 0;
  
  }
  
  .footer-left li {
    background-color: #F2F2F2;
    display: flex;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    line-height: 23px;
  }
  
  .footer-left {
    background-color: #F2F2F2;
  }
  
  .footer-central {
    background-color: #F2F2F2;
  }
  
  .footer-right {
    background-color: #F2F2F2;
  }
  
  .footer-central li {
    background-color: #F2F2F2;
    display: flex;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    line-height: 23px;
  }
  
  .footer-right li {
    background-color: #F2F2F2;
    display: flex;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    line-height: 23px;
  }
  }

  @media screen and (min-width: 376px) and (max-width: 767px) {
  
    body {
      font-family: 'Raleway Regular', sans-serif
  }

  /* HOVER navbar */ 
  
  .link-navbar:hover {
  border: none;
  }
  
  .link-navbar a:hover {
    color: #0065FC;
    border-bottom-color: #0065FC;
  }
  
  .signup-navbar:hover {
    transition: 0.3s;
  }
  
  /* HOVER navbar */
  
  .nav-bar {
    display: flex;
  }
  
  .logo {
    position: absolute;
    width: 90px;
    height: 60px;
    margin-left: 25px;
    object-fit: contain;
  }
  
  .nav-bar-menu {
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin-top: 75px;
    padding: 0;
    width: 100%;
    height: 50px;
  }
  
  .link-navbar a {
    display: flex;
    flex: 1;
    justify-content: center;
    border-bottom: 2px solid #F2F2F2;
    width: 100%;
    padding-bottom: 20px;
  }
  
  .nav-bar .link-navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway Regular', sans-serif;
    padding-top: 10px;
  }
  
  .signup-navbar a {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    position: absolute;
    top: 25px;
    right: 15px;
  }
  
  .signup-navbar {
    font-family: 'Raleway Regular', sans-serif;  
    font-weight: bold;
    color:#0065FC;
    text-decoration: none; 
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }
  .header-recherche, p {
    margin-left: 14px;
    font-size: 17px;
  }
  
  .icone-info-ville {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 20px 20px 20px 20px;
  }
  
  .search {
    font-weight: 900;
    border-right: none;
    border-left: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 1.2rem;
  }
  
  span {
    display: none;
  }
  
  .fa-search {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 900;
    color: white;
    font-size: 17px;
  }
  
  .search-form-button {
    width: 55px;
    background-color:#0065FC;
    color: white;
    border: unset;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 17px 17px 0;
  }
  
  .filtres-section h2 {
    align-self: flex-start;
  }
  
  .filtres-section {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 15px 0 0px;
  }
  
  .liste-filtres {
    margin-right: 25px;
    align-items: center;
  }
  
  .container-filtres {
    margin-left: 20px;
    line-height: 1.6;
    display: inline;
  } 
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .la_plus_populaires {
    display: flex;
    flex-direction: column;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    align-content: center;
  }
  
  .populaire-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;  
    margin-left: 10px;
  }
  
  .populaire-figure {
    display: flex;
    width: 91%;
    height: 133px;
    border: 5px solid white;
    border-radius: 25px;
    margin: 15px 15px 15px 25px;
    background-color: white;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  } 

  .Populaire-image {
    display: flex;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
  }
   
  .hebergements {
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }

  .hebergements-figure {
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 244px;
    border: 5px solid white;
    border-radius: 25px;
    margin: 0px 0px 30px 15px;
  }

  .hebergements-header {
    margin: 10px 0 15px 10px;
  }

  .Hebergements-image {
    width: 100%;
    height: 126px;
    object-fit: cover;
  }

  .afficher-plus {
    margin: 5px 15px 20px 15px;
  }

  .header-activites {
    margin: 20px 0px 5px 15px;
  }
  
  .section-activites {
    display: flex;
    flex-direction: column;
  }

  .Activiter-imageA {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

  .Activiter-imageB {
    width: 100%;
    object-fit: cover;
    height: 80%;
  }

  .Activiter-imageC {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .Activiter-imageD {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .Activiter-imageE {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .activites-figure-big-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 262px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    margin: 20px 0px 20px 20px;
  }

  .activites-cards-medium-groupe {
    width: 100%;
    height: 100%;
    margin: 0;
}
  
  .activites-figure-medium-photo-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    margin-right: 10px;
  }

  .activites-figure-medium-photo-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    margin-top: 20px;
    margin-right: 10px;
  }

  .activites-figure-medium-photo-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    margin-right: 10px;
  }

  .activites-figure-medium-photo-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    margin: 20px 10px 15px 0;
    background-color: white;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: #F2F2F2 outset;
    background-color: #F2F2F2;
    font-family: 'Raleway Regular', sans-serif;
    padding-left: 25px;
    padding-bottom: 20px;
    border: none;
  }
  .footer-left h3 {
    font-size: 17px;
    margin: 20px 10px 15px 0;
  }
  
  .footer-central h3 {
    font-size: 17px;
    margin: 20px 10px 15px 0;
  }
  
  .footer-right h3 {
    font-size: 17px;
    margin: 20px 10px 15px 0;
  
  }
  
  .footer-left li {
    background-color: #F2F2F2;
    display: flex;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    line-height: 23px;
  }
  
  .footer-left {
    background-color: #F2F2F2;
  }
  
  .footer-central {
    background-color: #F2F2F2;
  }
  
  .footer-right {
    background-color: #F2F2F2;
  }
  
  .footer-central li {
    background-color: #F2F2F2;
    display: flex;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    line-height: 23px;
  }
  
  .footer-right li {
    background-color: #F2F2F2;
    display: flex;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    line-height: 23px;
  }
  }
  
  /*-----------------------Code pour format de smartphone-----------------*/
  

  /*-----------------------Code pour format de tablette-----------------*/
  
  @media screen and (min-width: 768px) and (max-width: 900px) {
  
    .filtres-section h2 {
      margin: 0;
    }
    .filtres-section {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 20px 0;
    }
    
    .liste-filtres {
      margin-right: 25px;
      align-items: center;
    }
    .container-filtres {
      flex-direction: row;
      flex-wrap: wrap;
    } 
    
    .container {
      display: flex;
      flex-direction: column;
    }
  
  .la_plus_populaires {
    align-items: center;
    border: none;
    margin: 0;
    border-radius: 0;
    margin-bottom: 35px;
  }
  
  .populaire-figure {
    align-content: center;
    width: 100%;
  }
  
  .hebergements {
    border: none;
    margin: 0;
    padding: 0;
    border-radius:0;
    background: white;
  }

  .hebergements-header {
    margin: 5px 0 10px 20px;
  }
  
  .section-hebergements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 30px 0 30px;
  }
  
  .hebergements-figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    height: 250px;
    border: 5px solid white;
    border-radius: 35px;
    margin: 10px 5px 15px 10px;
    background-color: white;
  }
  
  .Hebergements-image {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;  
    width: 100%;
    height: 126px;
    object-fit: cover;
  }
  
  .afficher-plus   {
    margin: 10px 20px 20px 5px;
  }
  
  .activites {
    display: flex;
    flex-direction: column;
  }
  
  .section-activites {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .Activiter-imageA {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
  
  .Activiter-imageB {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 74%;
    object-fit: cover;
  }
            
  .Activiter-imageC {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 74%;
    object-fit: cover;
  }
            
  .Activiter-imageE { 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 74%;
    object-fit: cover;
  }
            
  .Activiter-imageD {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 74%;
    object-fit: cover;
  }
            
  .activites-figure-big-photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 262px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    margin: 20px 25px 20px;
  }

  .activites-cards-medium-groupe {
    width: 100%;
    height: 100%;
    margin: 0;
}
  
  .activites-figure-medium-photo-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
  }

  .activites-figure-medium-photo-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    margin-top: 20px;
  }

  .activites-figure-medium-photo-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    margin-right: 20px;
  }

  .activites-figure-medium-photo-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 89%;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    margin: 20px 0px 15px 0;
    background-color: white;
    margin-right: 20px;
  }
  
  .header-activites {
    margin: 30px 0 5px 20px;
    font-weight: 700;
  }
  
  .header-recherche h1 {
    font-size: 1.6rem;
    font-weight: 900;
   }
  
  .header-recherche p {
    margin-left: 15px;
    font-size: 1.2rem;
  
  }
  }

  /*-----------------------Code pour format de tablette-----------------*/

/*----------------------Code pour format desktop plus de 1024px---------*/




  /*----------------------Code pour format desktop plus de 1361px---------*/

  @media screen and (min-width: 900px) and (max-width: 1024px) {
  
    body {
      font-family: 'Raleway Regular', sans-serif
  }

    .filtres-section h2 {
        margin-top: 0;       
    }

    .filtres-section {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 20px 0;
    } 

    .container {
        flex-direction: row-reverse;
    }

    .hebergements {
        display: flex;
        flex-direction: column;
        flex: 3;
        border-radius: 10px;
        border-color: #F2F2F2;
        background-color: #F2F2F2;
        margin: 0 30px;
        padding: 0 30px;
    }

    .la_plus_populaires {
        display: flex;
        flex: 1;
        flex-direction: column;
        border-radius: 10px;
        border-color: #F2F2F2;
        background-color:#F2F2F2;
        padding: 20px 30px;
        margin: 0 30px 0px 0;
    }
    }
  
    /*-----------------------Code pour format desktop plus de 1361px---------------------*/