@font-face {
font-family: 'Raleway Regular';
font-style: normal;
font-weight: normal;
src: local('Raleway Regular'), url('fonts/Raleway-Regular.woff') format('woff');
}
/* La Police Rawelay
*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

h1, h2, h3 {
margin: 10px;
}



html {
background-size: cover;
background-color: white;

}

body {
  margin: auto;
}

/* logo */

.logo {
float: left;
width: 100px;
height: 60px;

}

/* logo */

/* navbar */

.nav-bar {


overflow: auto;
line-height: 1.7em;
}

.nav-bar .logo {
float: left;
margin: 10px;
}

.nav-bar ul {
float: right;
list-style: none;
display: flex;
padding: 10px;
font-size: 20px;
align-content: center;
flex-direction: row;
justify-content:space-evenly;
justify-items: right;
}

.nav-bar a {
display: flex;
justify-content: center;
width: 150px;
padding: 20px;
margin: 0px;
}

.hebergements-navbar {
font-weight: bold;
opacity: 0.7;
color:rgb(0, 4, 231);
text-decoration: overline;
list-style: none;   
}
    
.activites-navbar {
font-weight: bold;
color:rgb(134, 129, 122);
list-style: none;
text-decoration: none;
}
    
.signup-navbar {
font-weight: bold;
color:blue;
text-decoration: none; 
}
    
/* NAV-BAR */

/* RECHERCHE */

.recherche h1, p, form{
height: 20px;
margin: 10px;
color: black;
}

h1 {
font-family: 'raleway', sans-serif; 
font-size: 145%; 
font-weight: bold;
color: black;
margin: 10px;
}

/* RECHERCHE */

/* INFO */
 
p {
font-family: 'raleway', sans-serif;
color: black;
font-size: 100%;  
margin: 0 15px 0 15px;
}



/* INFO */

/* FILTRE */

.filtres-section {
display: flex;    
color: black;

}

.liste-filtres {
display: flex;
align-items: center;
border: 3px solid rgb(202, 202, 202);
background-color: white;
border-radius: 50px;
font-size: 20px;
margin: 10px;
width: 250px;
margin-right: 25px

}

.sous-titre {
margin: 20px;
}

.filtres-icone {
border-radius: 100%;
background-color:#DEEBFF;
color: #0065FC; 
align-content: center;

}

.eco {
display: flex;
background-color: white;
border: none;
}

.family {
display: flex;
border: none;
}

.romantic {
display: flex;
border: none;
}

.animals {
display: flex;
border: none;
}

/* FILTRE */

/* MAIN */
.container {
display: flex;
flex-direction: row-reverse;
}

.container .hebergements, .activites, .la_plus_populaires {


}

.activites {
    display: block;
  flex-wrap: nowrap;
}

.activites h2 {
margin: 20px;
font-weight: 700;
}
.section-activites {
display: flex;
flex-direction: row;



}
.activites-figure {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: white;
  border-radius: 40px;
  border: 2px white outset;
box-shadow: 3px 3px 3px rgb(204, 196, 196);
}
.acitivite-description {
margin: 20px;
box-shadow: 6px black;
}

/* hebergements */

.hebergements {
display: flex;
flex-direction:column;
flex: 3;
border-style: outset;
border-radius: 10px;
border-color: rgb(219, 218, 218);
background-color: rgb(224, 217, 217);
margin: 0px 30px;
padding: 0px 30px;
}
.section-hebergements {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-content: center;

}
.hebergements-figure {
 display: flex;
 flex-direction: column;
 width: 252px;
 height: 244px;
 border: 5px solid white;
 border-radius: 30px;
 margin: 0px 0px 30px 0px;

 background-color: white;

}
.hebergements-header {
margin: 25px 0 25px 25px;
}
.hebergements-description p {
margin: 10px
}

/* hebergements */


/* la plus populaires */

.la_plus_populaires {
display: flex;
flex: 1;
 flex-direction: column;
 border-style: outset;
 border-radius: 10px;
 border-color: rgb(219, 218, 218);
 background-color: rgb(224, 217, 217);
align-items: center;
padding: 20px 30px;
margin: 0px 30px 0px 0px;
}

.la_plus_populaires h2 {
display: flex;
align-content: center;
margin: 10px;
padding: auto;
font-weight: 700;
}

.populaire-figure {
  display: flex;
  width: 351px;
 height: 150px;
 border: 5px solid white;
 border-radius: 40px;
 margin: 25px 0px 10px 0px;
 background-color: white;
}
.populaire-description {
margin-top: 0px;
margin: 15px;

}

.populaire-description p {
margin-left: 10px;
}

/* la plus populaires */

/* Main */

/* IMAGE */

.Hebergements-image {
border-top-right-radius: 30px;
border-top-left-radius: 30px;  
width: 242px;
height: 126px;   
}

.Populaire-image {
display: flex;
border-top-left-radius: 40px;
border-bottom-left-radius: 40px;
width: 100%;
height: 100%;
width: 124px;   
height: 140px; 
}
.Activiter-imageA {

border-top-left-radius: 30px;
border-top-right-radius: 30px;
width: 307px;
height: 399px;

}
.Activiter-imageB {
border-top-left-radius: 30px;
border-top-right-radius: 30px;
width: 307px;
height: 209px;
}

.Activiter-imageC {
border-top-left-radius: 30px;
border-top-right-radius: 30px;
width: 307px;
height: 109px;
}

.Activiter-imageE { 
border-top-left-radius: 30px;
border-top-right-radius: 30px;
width: 307px;
height: 159px;
}
.Activiter-imageD {
border-top-left-radius: 30px;
border-top-right-radius: 30px;
width: 307px;
height: 169px;
}
/* IMAGES */

/* ICONES STAR */

.stars {
margin: 10px;
}

.true {
color: blue;
}

/* ICONE STAR */

 /* FOOTER */

footer {
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: flex-end;
list-style: none;
border: #a79c9c outset;
}